@charset "UTF-8";
/* CSS Document */
body {	margin: 0; }
/*this is video background*/
.video {
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height:100%;
width:auto;
Height: auto;
z-index:-1;
transform: translate( -50%, -50%);
object-fit: cover;
}
.overlay { 
    position: relative;
    z-index:1;
    color: white;
    text-align: center;
    top: 50%;
       transform: translateY(-50%)
}
.video::after
{content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    z-index:0;

}


/*main stuff*/
nav {
    width: 100vw;
    height:60px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 0;
    z-index: 10;
 



}
    nav a {
        color:white;
        text-decoration:none;
        margin: 20px;
    }
main{
    background-color: white;
    width:90vw;
    padding:5vw;
    height:500px;
}
