@charset "UTF-8";
/* CSS Document */
html{scroll-behavior: smooth;}
body {	margin: 0; }
/*this is video background*/
.video {
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height:100%;
width:auto;
Height: auto;
z-index:-1;
transform: translate( -50%, -50%);
object-fit: cover;
}
.overlay { 
    position: relative;
    z-index:1;
    color: white;
    text-align: center;
    top: 50%;
       transform: translateY(-50%)
}
.video::after
{content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    z-index:0;

}


/*main stuff*/
nav {
    color: #456783;
    width: 100vw;
    height:60px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
    line-height: 60px;
    position: absolute;
    top: 0;
    z-index: 10;
    position: sticky;
 



}
    nav a {
        color: #456783;

    font-family: "Futura 100";
    font-size: 20px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
      
        text-decoration:none;
        margin: 20px;
    }
.backgroundStudio 
 {

    float: left;
    background-image: url(../images/studio.png);
    background-size: cover;
    width:100vw;
   height: 965px;
   background-repeat: no-repeat;
   
   

 }


.maintext
{
    color: #456783;
}
 
 .headerpage1 {

     color: #456783;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;


 }
 
 .line1{
    margin-left: 40px;
 }

 .studioParagraph
 {
    float: left;
    width: 635px;
height: 224px;
color: #262626;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 40px;
margin-left: 123px;
;
 }
 .studioPhoto
 {
    float: left;
    width: 572px;
height: 381px;
flex-shrink: 0;
margin-top: 40px;
 }