@charset "UTF-8";
/* CSS Document */
html{scroll-behavior: smooth;}
body {	margin: 0; }
/*this is video background*/
.video {
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height:100%;
width:auto;
Height: auto;
z-index:-1;
transform: translate( -50%, -50%);
object-fit: cover;
}
.overlay { 
    position: relative;
    z-index:1;
    color: white;
    text-align: center;
    top: 50%;
       transform: translateY(-50%)
}
.video::after
{content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    z-index:0;

}


/*main stuff*/
.mainnav {
    color: #456783;
    width: 100vw;
    height:60px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
    line-height: 60px;
    position: absolute;
    top: 0;
    z-index: 10;
    position: sticky;

 



}
    nav a {

        color: #456783;

    font-family: "Futura 100";
    font-size: 20px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
      
        text-decoration:none;
        margin: 20px;
    }
.backgroundStudio 
 {

   
    background-image: url(../images/studio.png);
    background-size: cover;
    width:100vw;
   height: 965px;
   background-repeat: no-repeat;
   
   

 }


.maintext
{
    color: #456783;
}
 
 .headerpage1 {
margin: 0;
padding-top: 25px;
margin-left: 20px;
flex-shrink: 0;
     color: #456783;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;


 }
 
 .line1{
    background: #262626;
    width: 1352px;
height: 2px;
margin-left: 40px;
 }

 .studioParagraph
 {
    float: left;
    width: 635px;
height: 224px;
color: #262626;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 100px;
margin-left: 80px;
;
 }
 .studioPhoto
 {
    float: left;
    width: 572px;
height: 381px;
flex-shrink: 0;
margin-top: 80px;
margin-left: 60px;
 }

 .blueblock
 {
    display: flex;
  width: 133px;
height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:  #6592B9;
    margin-top: 60px;
    margin-left: 220px;
    font-weight: 500;
    
 }

 .hundred
 {
   
color: #456783;

font-family: "Futura 100";
font-size: 113.369px;
font-style: normal;
font-weight: 500;
line-height: normal;
 float: left;
 margin-top: 50px;
 }
 .fifty{
    color: #456783;
flex-shrink: 0;
font-family: "Futura 100";
font-size: 113.369px;
font-style: normal;
font-weight: 500;
line-height: normal;
 margin-top: 50px;
 margin-left: 540px
 }
 .fivefour
 {
    color: #456783;
flex-shrink: 0;
font-family: "Futura 100";
font-size: 113.369px;
font-style: normal;
font-weight: 500;
line-height: normal;
 height: 10px;
  margin-left: 1060px;
  margin-top: -290px
 
 }

 .firstaward{
color: #262626;
flex-shrink: 0;
text-align: center;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 650px;
margin-left: -1020px;
 }
 .secondaward
 {
    color: #262626;
flex-shrink: 0;
text-align: center;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -40px;
margin-left: 30px;

 }

 .thirdaward{
color: #262626;
flex-shrink: 0;
text-align: center;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 1045px;
margin-top:-35px
 }

 .backgroundforprojectpage
 {
    width: 1440px;
    height: 978px;
    background-color: #262626;


 }
.mainprojectHeader{
margin: 0px;
margin-left: 0px;
     color: #456783;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
padding-top: 25px;
 }

 .projectwhiteline
 {
    width: 1347px;
height: 2px;
background: #FFF;
margin-left: 40px;
 }


 
 .carousel
 {
    
    margin:3em auto;
    overflow-x:auto;
    margin : 3em auto;
    display:flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    
 }



 .carousel::-webkit-scrollbar {
    display: none;

 }
.carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: '>';
    background-color: #456783;
    border: none;
    color: #FFF;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom:.1em;
    cursor:pointer;

    position-anchor: --carsousel;
    position-area:right center;
    translate: 2170% -1050% ;
    
   


    
}


.carousel::scroll-button(left)
{content: '<';
 position-area:left center;
 translate: 50% -1050%;

}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled{
opacity: 0.5;
cursor:auto
}

.projectphoto1
 {
    scroll-snap-align: start;
    margin-top: -200px;
    flex: 0 0 20em;
 
        height: 70em;
align-content: center;
text-align: center;


 
 }

 
 .backgroundnews
 {

background-color: white;
width: 1440px;
height: 1617px;


 }
 .news
 {
    margin: 0;
color: #456783;
text-align: center;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 25px;
 }


 .newsline
 {
    width: 1347px;
height: 2px;
background-color:  #262626;;
margin-left: 40px;
float: left;
 }
.article1photo
{
    width: 832px;
height: 348px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

.article1textbox
{
  width: 291px;
height: 258px;
flex-shrink: 0;

float: left;
margin-left: 40px;
margin-top: 20px;
}
.firstcompanyname
{
color: #000;
margin-top: 0px;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;

}

.firstarticletitle
{

color: #000;
margin-top: -10px;
font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.authorname{
color: #000;
margin-top: -20px;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
.firstdate
{
  color: #000;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.firstlearnmorelink
{
    width: 133px;
height: 45px;
flex-shrink: 0;
background-color: #6592B9;
margin-top: 30px;

}
.firstlearnmorelinka {

   float: left;
z-index: -12px;
color: #262626;
text-align: center;
margin-left: 28px;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;

}

.article2photo
{
   
   float: left;
    width: 884px;
height: 715px;
margin-top: 35px;
margin-left: 40px;
}

.article3photo
{
    float: left;
    margin-top: 35px;
margin-left: 40px;
}

.exhibitarticletextbox
{
    float: left;
    width: 341px;
    height: 187px;

    margin-left: 40px;
}
.exhibitcompanyname
{
    float: left;
    color: #000;

font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.exhibittitle
{
    float: left;
    margin-top:-5px ;
    color: #000;
font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.exhibitdate
{
    float: left;
    color: #000;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -5px;

}
.exhibitlearnmore
{
   float: left;
z-index: -10px;
width: 133px;
height: 45px;
background-color: #6592B9;
margin-top: 30px;
margin-left: -55px;



}

.exhibitlink
{
    float: left;
z-index: -12px;
color: #262626;
text-align: center;
margin-left: 28px;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;


}

.article4photo
{
    float: left;
    margin-left: 40px;
    margin-top: 84px;
}

.article4textbox
{
width: 460px;
height: 125px;
padding-left:40px;
float: left;
margin-top: -35px;
}
.company4
{
color: #000;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 50px;
}

.article4title
{
   margin-top: -10px;
    color: #000;
font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.article4date
{
    margin-top: -20px;
    color: #000;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.mostbox
{float: left;
z-index: -10px;
width: 133px;
height: 45px;
background-color: #6592B9;
margin-top: 55px;
}

.mostlink
{
  float: left;
z-index: -12px;
color: #262626;
text-align: center;
margin-left: 28px;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;  
}
.dsrarticle
{
    float: left;
    width: 346px;
height: 195px;

margin-left: 965px;
margin-top: -100px;
}
.archrecord{
    color: #000;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
.dsrtitle{
    color: #000;
font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -10px;
}

.dsrauthor
{
    color: #000;
margin-top: -10px;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.archdate
{
  color: #000;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.lastbox
{
    float: left;
z-index: -10px;
width: 133px;
height: 45px;
background-color: #6592B9;
margin-top: 5px;
}
.lastlink
{
   float: left;
z-index: -12px;
color: #262626;
text-align: center;
margin-left: 28px;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;  
}

.contactbase
{
    width: 1440px;
height: 1114px;
flex-shrink: 0;
background-color: #262626;
padding-top: 1px;
}
.contacttitle
{
padding-top: 25px;
    color:#456783;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
text-align: center;



}


.ContactBold
{
  
    color: #FFF;

font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.linecontact
{

background-color: #FFF;
width: 1347px;
height: 2px;
margin-left: 40px;

}

.addy
{
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 100;
line-height: normal;

}
.contactnumber
{
    
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
.contacttextbox
{margin-left: 40px;
margin-top: 30px;
float: left;}


.buisnesssection
{
float: left;
margin-left: 40px;
    margin-top: 30px;
}
.buisness
{

    color: #FFF;

font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;


}
.Buisnessinfo
{
   color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 100;
line-height: normal; 
}

.contactphoto
{ 
   
    float: left;
    width: 566px;
height: 780px;
    flex-shrink: 0;
 margin-left: 85px;
 margin-top: 51px;
}
.press
{
    float: left;
    width: 126px;
    height: 85px;
   margin-top: -640px;
    margin-left:40px;

}
.pressbold
{
color: #FFF;

font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
float: left;
}
.pressinfo{
   
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 100;
line-height: normal;

}
.applications
{
float: left;
  margin-top: -640px;
    margin-left:180px;
    width: 228px;
height: 97px;

}

.applicationbold
{
    color: #FFF;

font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.applicationsinfo{
   color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 100;
line-height: normal; 
}
.library{
float: left;
   margin-top: -151px;
    margin-left:239px;
    width: 296px;
height: 108px;
flex-shrink: 0;
}

.librarybold{
     color: #FFF;

font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.libraryinfo{
color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 100;
line-height: normal; 
}
.reachout
{
    float:left;
    margin-left:-380px;
}
.reachoutbold
{
    color: #FFF;

font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.namebox
{
    float: left;
    width: 300px;
height: 45px;
background-color: #6592B9;

}

.emails
{
    float: left;
 width: 355px;
height: 45px;
background-color: #6592B9;
margin-left: 21px;
}
.messagebox
{
    float: left;
    width: 676px;
height: 206px;
flex-shrink: 0;
background-color: #6592B9;
margin-top: 30px;
align-content: center;
}

.nametext
{
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal; 
margin-top: 9px;
margin-left: 20px;

}
.email
{
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal; 
margin-top: 9px;
margin-left: 20px;
}
.message{
   color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal; 
margin-top: -95px;
margin-left: 20px;
text-align: left;
}
.sendmessage
{
    float: left;

width: 133px;
height: 45px;
background-color: #6592B9;
margin-top: 48px;
margin-left: 250px;
color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal
}
.send
{
   margin-top: 9px;
margin-left: 50px; 

}

.educationbackground
{
    width: 1447px;
height: 1044px;
background-color: #262626;
}

.educationheader
{
   padding-top: 25px;
    color:#456783;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
text-align: center; 
}
.meetusbackground{
    width: 1440px;
height: 4010px;
background-color: #262626;


}

.meetusheader
{
    float: left;
    color:#ffffff;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
text-align: center; 
background-image: url(../images/meetUSS.jpg);
width: 1440px;
height: 542px;
flex-shrink: 0;
padding-top: 300px;}

.scrolldownmeetus
{

margin-top: 200px;
color: #FFF;
font-family: "Futura 100";
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
.chrisitina
{
  float: left;
  margin-left: 107px;
  margin-top: 105px;
  width: 610px;
height: 406px;
}
.Elizabeth{
    color: #EAEAEA;
float: left;
font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.Lizinfo
{
float: left;
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 250;
line-height: normal;
}
.allEli
{
    float:left;
    width: 571px;
height: 294px;
margin-left: 54px;
margin-top: 130px;
}


.ricardo
{
    float: left;
    margin-top: 557px;
    margin-left: -1238px;
}



.rickybold{
    color: #EAEAEA;
float: left;
font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.rickytextbox
{
float: left;
width: 591px;
height: 256px;
flex-shrink: 0;
margin-left: 54px;
margin-top: 180px;
}
.rickydetails
{
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 250;
line-height: normal;
float: left;

}

.charlesphoto
{
   float: left;
    margin-top: 584px;
    margin-left: -1260px; 
}

.charlestextbox{
    float: left;
    width: 591px;
height: 238px;
margin-left: 770px;
margin-top: 220px;

}

.charlesbold
{
    color: #EAEAEA;
float: left;
font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.charlesdetails{
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 250;
line-height: normal;
float: left;
}

.benjaminphoto{
    float: left;
    margin-top: 600px;
    margin-left: -1260px; 
}

.benjamintextbox
{
     float: left;
     width: 591px;
height: 322px;
margin-left: 770px;
margin-top: 200px;

}

.benjaminbold{
    color: #EAEAEA;
float: left;
font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.benjamininfo
{
     color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 250;
line-height: normal;
float: left;
}

.principalbox
{
    float: left;
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 150;
line-height: normal;
float: left;
margin-top: 50px;
margin-left: 100px;
}
.boldbig
{
    color: #FFF;

font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.subbold{
    color: #FFF;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.associatebox
{
    float: left;
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 150;
line-height: normal;
float: left;
margin-top: 50px;
margin-left: 60px;
width: 217px;
height: 185px;
}

.seniorbox
{
    float: left;
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 150;
line-height: normal;
float: left;
margin-top: 50px;
margin-left: 60px;
width: 207px;
height: 261px;
flex-shrink: 0;
}
.associatesbox
{
    float: left;
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 150;
line-height: normal;
float: left;
margin-top: 50px;
margin-left: 60px;
width: 207px;
height: 261px;
flex-shrink: 0;
}
.staffbox
{
    width: 224px;
height: 223px;
 float: left;
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 150;
line-height: normal;
float: left;
margin-top: 50px;
margin-left: 60px;
}
.teamphoto
{
    float: left;
    margin-top: 170px;
    margin-left: -170px;

}
.rightlongstaffbox
{
    width: 224px;
height: 223px;
 float: left;
    color: #FFF;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 150;
line-height: normal;
float: left;
margin-top: 150px;
margin-left: 60px;
}
.perryheader
{
    background-image: url(../images/perrybigger.jpg);
    width: 1441px;
height: 961px;

  
}



.perryheaderMain
{
   
    color: #FFF;
margin: 0px;
text-align: center;
font-family: "Futura 100";
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.perryheadertext{
    margin-top: 5px;
    text-align: center;
    color: #FFF;
    font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.perryscrolldown
{
    margin-top: 500px;
    text-align: center;
    color: #FFF;
    font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.backgroundperryproject
{
    background-color: #FFF;
    width:1440px;
    height: 3072;
}
.perryinfo
{
    color: #010101;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 604px;
height: 615px;
float: left;
margin-left: 70px;
}
.perry2
{
    float: left;
    margin-left: 90px;
    width: 579px;
height: 386px;
}
.projectperryinfo
{
   float: left;
    margin-left: 90px; 
}
.projecinfobold
{
    color: #010101;

font-family: "Futura 100";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.locationbold
{
    color: #010101;
font-family: "Futura 100";
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
}