@charset "UTF-8";
/* CSS Document */
html{scroll-behavior: smooth;}
body {	margin: 0; }
/*this is video background*/
.video {
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height:100%;
width:auto;
Height: auto;
z-index:-1;
transform: translate( -50%, -50%);
object-fit: cover;
}
.overlay { 
    position: relative;
    z-index:1;
    color: white;
    text-align: center;
    top: 50%;
       transform: translateY(-50%)
}
.video::after
{content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    z-index:0;

}


/*main stuff*/
nav {
    color: #456783;
    width: 100vw;
    height:60px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
    line-height: 60px;
    position: absolute;
    top: 0;
    z-index: 10;
    position: sticky;

 



}
    nav a {

        color: #456783;

    font-family: "Futura 100";
    font-size: 20px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
      
        text-decoration:none;
        margin: 20px;
    }
.backgroundStudio 
 {

   
    background-image: url(../images/studio.png);
    background-size: cover;
    width:100vw;
   height: 965px;
   background-repeat: no-repeat;
   
   

 }


.maintext
{
    color: #456783;
}
 
 .headerpage1 {
margin: 0;
padding-top: 25px;
margin-left: 20px;
flex-shrink: 0;
     color: #456783;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;


 }
 
 .line1{
    background: #262626;
    width: 1352px;
height: 2px;
margin-left: 40px;
 }

 .studioParagraph
 {
    float: left;
    width: 635px;
height: 224px;
color: #262626;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 100px;
margin-left: 80px;
;
 }
 .studioPhoto
 {
    float: left;
    width: 572px;
height: 381px;
flex-shrink: 0;
margin-top: 80px;
margin-left: 60px;
 }

 .blueblock
 {
    display: flex;
   width: 133px;
    height: 52px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:  #6592B9;
    margin-top: 60px;
    margin-left: 220px;
 }

 .hundred
 {
   
color: #456783;

font-family: "Futura 100";
font-size: 113.369px;
font-style: normal;
font-weight: 500;
line-height: normal;
 float: left;
 margin-top: 50px;
 }
 .fifty{
    color: #456783;
flex-shrink: 0;
font-family: "Futura 100";
font-size: 113.369px;
font-style: normal;
font-weight: 500;
line-height: normal;
 margin-top: 50px;
 margin-left: 540px
 }
 .fivefour
 {
    color: #456783;
flex-shrink: 0;
font-family: "Futura 100";
font-size: 113.369px;
font-style: normal;
font-weight: 500;
line-height: normal;
 height: 10px;
  margin-left: 1060px;
  margin-top: -290px
 
 }

 .firstaward{
color: #262626;
flex-shrink: 0;
text-align: center;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 650px;
margin-left: -1020px;
 }
 .secondaward
 {
    color: #262626;
flex-shrink: 0;
text-align: center;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -40px;
margin-left: 30px;

 }

 .thirdaward{
color: #262626;
flex-shrink: 0;
text-align: center;
font-family: "Futura 100";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 1045px;
margin-top:-35px
 }

 .backgroundforprojectpage
 {
    width: 1440px;
    height: 978px;
    background-color: #262626;
    margin-top: -20px;

 }
.mainprojectHeader{
margin: 0px;
margin-left: 0px;
     color: #456783;
font-family: "Futura 100";
font-size: 100px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
padding-top: 25px;
 }

 .projectwhiteline
 {
    width: 1347px;
height: 2px;
background: #FFF;
margin-left: 40px;
 }

 .leftarrow
 {
   float: left;
   margin-top: 350px;
   margin-left: 20px;
 }
 
.projectphoto1
 {
    float: left;
    margin:20px;
    margin-top: 60px;
  width: 231px;
height: 572.911px;


 
 }

 .rightarrow
 {
     margin-top: 350px;
     float: left;
 }